<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Add New Member</h4>

      <form (ngSubmit)="saveMember()">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="location-input">First Name</label>
              <input type="text" [(ngModel)]="member.firstName"   name="firstName" class="form-control" id="first-name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="location-input">Location</label>
              <input type="text" [(ngModel)]="member.lastName"  name="lastName" class="form-control" id="location-input">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="amount-inputZip">Amount</label>
              <input type="number" [(ngModel)]="member.nationality" name="nationality" class="form-control" id="amount-inputZip">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <select [(ngModel)]="identityDocument" name="identityDocument" class="form-select" aria-label="Default select example">
              <option selected value="CIN">CIN</option>
              <option value="RESIDENCE_CARD">RESIDENCE_CARD</option>
              <option value="PASSPORT">PASSPORT</option>
            </select>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="location-input">Identity number</label>
              <input type="text" [(ngModel)]="member.identityNumber"  name="identityNumber" class="form-control" id="identity-number">
            </div>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary w-md">
            <i class="fa fa-spinner fa-spin ml-2" aria-hidden="true"></i>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
